@model IEnumerable<TaThiVanAnhBTH2.Models.Person>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a class="btn btn-success" asp-action="Create">Create a new Person</a>
</p>
<table class="table table-all">
	<tr>
		<th>Person ID</th>
		<th>Person Name</th>
		<th></th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@Html.DisplayFor(m => item.PersonID)</td>
			<td>@Html.DisplayFor(m => item.PersonName)</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.PersonID">Edit</a>
				<a asp-action="Details" asp-route-id="@item.PersonID">Details</a>
				<a asp-action="Delete" asp-route-id="@item.PersonID">Delete</a>
			</td>
		</tr>
	}
</table>